body {
    /* background-color: rgb(81, 165, 235); */
    background-image:url(./images/IR-Dosto-RABe-512-Visualisierung-1_SBB-CFF-FFS_01-22.jpg);
    background-repeat: no-repeat;
  background-size: cover;
}

table{
    background-color:rgb(232, 240, 255);
}

header {
    height: 50px;
    display: flex;
    align-items: flex-end;

}

#main{
    background-image:url(./images/SBB_Switzerland_power_1280.jpg);
    background-repeat: no-repeat;
  background-size: cover;
}
 #title{
    margin:30px;
 }


h1{
    font-size:50px;
    color:black;
    background-color:rgba(255, 255, 255, 0.6);
    width:70%;
;
}

h3 {
    margin: 40px 0 20px;
    font-size:40px;
}

p{
    color:black;
    font-size:30px;
    background-color:rgba(255, 255, 255, 0.6)

}

a{
    color:black;
}


.ui-widget,
.ui-widget input {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.ui-autocomplete {
    text-align: left;
}

strong {
    color: #d10505;
}

.column {
    float: right;
}

.media {
    padding-top: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    padding: 8px;
    line-height: 18px;
    vertical-align: top;
    border-bottom: 1px solid #DDD;
}

th:nth-child(n+3),
td:nth-child(n+3) {
    text-align: center;
}

/* .col-sm-8.col-sm-offset-2 {
    width: 600px;
} */

article a {
    font-size:30px;
    display: flex;
    flex-direction: column;
    color: black;
    background-color:rgba(255, 255, 255, 0.6);
    width:70%;


}

/* #connection {
    display: none;
}

.vissible {
    display: block;
} */

.footer {
    position: fixed;
    bottom: 0;
    width: 40%;
}